.images-title {
    display: flex;
    align-items: center;
    margin-block: 30px;
    justify-content: space-between;
}

.back {
    cursor: pointer;
}

.images-title span img {
    width: 30px;
}

.images-title h3 {
    font-size: 1.7rem;
    font-weight: 700;
}

.search img {
    width: 30px;
    cursor: pointer;
}

.images-title span {
    align-items: center;
    display: flex;
    background-color: #red;
    border-radius: 50%;
}