.AddImage {
    background-color: #f4f4f4;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto 30px;
    padding: 20px;
    width: 50vw;
}

.btns {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.AddImage form input {
    border: 3px solid transparent;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    padding: 10px 10px 10px 15px;
    transition: .3s;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}